.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board-row {
  display: flex;
}
.board-cell {
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 50%;
}
.red-cell {
  background-color: rgb(236, 57, 57) !important;
}
.blue-cell {
  background-color: rgb(68, 49, 239) !important;
}
.white-cell {
  background-color: white !important;
}
.highlight-cell {
  border: 3px solid rgb(245, 240, 94) !important;
}
.controls {
  margin-top: 3px;
}
