<p-panel header="Connect-N Game">
  <div class="board" *ngIf="board.length">
    <div *ngFor="let row of board; let rowIndex = index" class="board-row">
      <button
        *ngFor="let cell of row; let colIndex = index"
        class="board-cell"
        [ngClass]="getCellClass(cell, colIndex)"
        [ngStyle]="{ 'width.px': cellSize, 'height.px': cellSize }"
        (click)="makeMove(colIndex)"
        (mouseenter)="highlightColumn(colIndex)"
        (mouseleave)="clearHighlights()"
      ></button>
    </div>
  </div>

  <div [style]="'text-align: center'">
    <div class="controls mt-2">
      <button
        class="mr-1"
        pButton
        size="small"
        type="button-sm"
        icon="pi pi-search-plus"
        (click)="zoomIn()"
      ></button>
      <button
        pButton
        size="small"
        type="button"
        icon="pi pi-search-minus"
        (click)="zoomOut()"
      ></button>
    </div>
    @if(winner != null){
    <h2>Winner: {{ getPlayerAsString(winner) }}</h2>
    <button
      pButton
      type="button"
      label="Play Again"
      (click)="resetGame()"
    ></button>
    } @else {
    <h2>Current Player: {{ getPlayerAsString(currentPlayer) }}</h2>
    }
  </div>
</p-panel>
<p-toast />
